.card {
  width: 90px;
  height: 85px;
  background-color: #d5dfff;
  border-radius: 5px;
  padding: 7px 7px 3px 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4563af;
  cursor: pointer;
}

.card h4 {
  font-weight: 500;
  font-size: 1.1rem;
}

.card h1 {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

.card.active {
  background-color: #4563af;
  color: #ffffff;
}