* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  body, html {
    min-width: 14px;
  }
}

@media screen and (min-width: 990px) {
  body, html {
    min-width: 16px;
  }
}