.dataTable {
  display: flex;
  align-items: flex-start;
  padding-right: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.container {
  border: 1px solid #d6e0ff;
  flex: 1;
  padding: 8px;
}

.innerContainer {
  max-height: 470px;
  overflow-y: auto;
  display: block;
}

/* width */
.innerContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.innerContainer::-webkit-scrollbar-track {
  background: #d6ddf0;
  border-radius: 10px;
}

/* Handle */
.innerContainer::-webkit-scrollbar-thumb {
  background: #4563af;
  border-radius: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 99%;
}

tr {
  cursor: pointer;
}

tr.active {
  background-color: #eff2ff;
}

tr th {
  padding: 0 20px;
}

tr td{
  border-top: 1px solid #eff2ff;
  border-bottom: 1px solid #eff2ff;
  padding: 15px 20px;
}

tbody tr td:first-child {
  border-left: 1px solid #eff2ff;
}

tbody tr td:last-child {
  border-right: 1px solid #eff2ff;
  color: #33ac2e;
}

table th {
  color: #bec4d1;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.emptyMsg {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 100px 0;
  color: #f59921;
}